<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tru facts.</title>
</head>
<body>
  <h1>true facts</h1>

  <ul>
    {{#each data}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
</body>
</html>